@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

*  {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    color: aliceblue;
    line-height: 160%;
}

ul {
    list-style: none;
}

body{
    background-image: url(./IMG/pexels-pavel-danilyuk-8294549.jpg);
    background-position: top center;
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-color: #121214;
}

header{
    padding-top: 32px;
}

header div{
    width: 120px;
    margin: auto;
    background-image: linear-gradient(90deg,#9572fc 0%,#43e7ad 50.52%, #e2d45c 100%);
    border-radius: 50%;
    display: flex;
    padding: 4px;
    transition: transform .5s;
    animation: fromTop .5s  .4s backwards;
}

header div:hover{
    transform: scale(1.1);
}

header img{
    width: 100%;
    border-radius: 50%;
}

main {
    border-radius: 2px solid red;
}

main{
    max-width: 580px;
    width: 90%;
    margin: 32px auto;
    display: grid ;
    margin-top: 32px;
    gap: 24px;
}

section {
    background-image: linear-gradient(90deg,#9572fc 0%,#43e7ad 50.52%, #e2d45c 100%);
    padding-top: 4px;
    border-radius: 10px;
    animation: fromBottom .7s backwards;
}

section div{
    background-color: #2a2634;
    padding: 32px;
    padding-top: 24px;
    border-radius: 8px;
    
}

section h2{
    font-size: 24px;
    font-weight: 900;
    letter-spacing: -0.74px;
}

section p{
    font-weight: 400;
    letter-spacing: -0.18px;
    color: #A1A1AA;
}

section ul {
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-top: 24px;
    flex-wrap: wrap;
}

section ul li{
    transition: transform .5s;
}

section ul li:hover {
    transform: scale(1.1);
}

.gameList img{
    width: 90px;
    border-radius: 8px;
}

.channelList img{
    border-radius: 50%;
    width: 70px;
    border: 1px solid #443e54;
}

.myStore img{
    width: 30px;
}


main section:nth-child(1){
    animation-delay: 0;
}


main section:nth-child(2){
    animation-delay: .4s;
}


main section:nth-child(3){
    animation-delay: .8s;
}

@keyframes fromTop{
    from{
        opacity: 0;
        transform: translatey(-30px);
    }

    to{
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fromBottom {
    from{
        opacity: 0;
        transform: translatey(-30px);
    }

    to{
        opacity: 1;
        transform: translateY(0);
    }
}